<!DOCTYPE html>
<html lang="en">

<style>
  .container {
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: #1f2739;
  }

  .container h1 {
    padding: 10rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10rem;
    font-weight: bold;
    color: white;
    margin: 0;
  }

  .container h2{
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    color: white;
    margin: 0;
  }
</style>

<body>
    <div class="container"> 
        <h1>403</h1>
        <h2>Access forbidden!</h2>
      </div>
</html>