<!DOCTYPE HTML>
<html>
	<head>
		{% load static %}
		<link rel="stylesheet" href="{% static 'book/main.css' %}">
		<title>LIS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<style>
			p{
				background-color: #36383d;
			}

			p strong{
				color: white;
			}
		</style>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div class="container">

						<!-- Header -->
							<header id="header">
								<div class="inner">

									<!-- Logo -->
										<h1><a href="/" id="logo">GNOSIS</a></h1>

									<!-- Nav -->
										<nav id="nav">
											<ul>
												<!-- <li class="current_page_item"><a href="/">Home</a></li> -->
												<li><a href="/member/registration">Register as a Member</a></li>
												<li><a href="/member/login">Member Login</a></li>
												<li><a href="/staff/staff_login">Staff Login</a></li>
											</ul>
										</nav>
								</div>
							</header>

						<!-- Banner -->
							<div id="banner">
								<h2><strong>GNOSIS - Library Information System:</strong><br> An online, automated solution for Libraries.</h2>
								<p>Created by <strong>Shreyas Jena</strong>, <strong>Pranav Nyati</strong>, <strong>Utsav Mehta</strong>.</p>
							</div>
					</div>
				</div>
	</body>
</html>