{% extends 'staff/admin_navbar.html' %}
{% load static %}
{% block title %} Library Information System {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container mt-4">
    <h1 class="text-center"><u>All Books List</u></h1>
    <table class="table table-hover" id="example">
        <thead>
            <tr>
                <th>Sr.No</th>
                <th>ISBN/th>
                <th>Title</th>
                <th>Author(s)</th>
                <th>Rack Number</th>
                <th>Issue Status</th>
                <!-- <th>Category</th> -->
                <!-- <th>Delete</th> -->
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{forloop.counter}}.</td>
                <td>{{book.isbn}}</td>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.rack_number}}</td>
                <td>{{book.issue_status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
